agent_workflow.json
{
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is Jarvis How can I assist you today?",
        "options": {}
      },
      "id": "2357dafe-1378-4dc7-b6a7-225e838b386a",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1744,
        128
      ],
      "webhookId": "74a789e0-b0b1-45a2-83c4-1082f77ff1ff"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "7e554ce2-1882-4725-afad-5b6b7f63a8d7",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1520,
        128
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are an AI email assistant that helps users respond to emails. Your workflow:\n\n1. When a user asks to respond to an email, use the Gmail Search Tool to find emails matching their description (search by subject keywords)\n2. Once you find matching emails, use the Gmail Get Email Tool to retrieve the full email content (from, subject, body)\n3. Display the email details clearly to the user\n4. Generate a thoughtful, professional reply based on the email content and context\n5. Show the suggested reply to the user and ask for confirmation\n6. If the user approves (says yes, send it, looks good, etc.), use the Gmail Send Reply Tool to send the reply\n7. If the user wants modifications, adjust the reply and ask for confirmation again\n8. Confirm successful sending\n\nAlways be helpful, professional, and wait for explicit user approval before sending any emails."
        }
      },
      "id": "7c03d1e8-4c5b-4bbf-9594-85a3a5088780",
      "name": "Email Response Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1120,
        128
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.7
        }
      },
      "id": "740b6348-36d3-4aa8-bbed-12f90b7dc34a",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1296,
        352
      ],
      "credentials": {
        "openAiApi": {
          "id": "gVXe7Q5AqeIc7QBZ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 20
      },
      "id": "56003f45-3a9a-4346-bca9-4986ef171719",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1168,
        352
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Search for emails in Gmail by subject or keywords. Returns a list of matching email IDs and basic information.",
        "operation": "getAll",
        "limit": 10,
        "filters": {
          "q": "={{ $fromAI('search_query', 'The search query to find emails (e.g., subject keywords)', 'string') }}"
        }
      },
      "id": "bc3e2bba-eb07-48a1-be64-6110240affda",
      "name": "Gmail Search Tool",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        -1040,
        352
      ],
      "webhookId": "c0c293c0-0273-4883-98dd-5b8562cbb787",
      "credentials": {
        "gmailOAuth2": {
          "id": "QUrAgBERcAYgrBGn",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Retrieve the full content of a specific email by its message ID. Returns from, subject, body, and other details.",
        "operation": "get",
        "messageId": "={{ $fromAI('message_id', 'The ID of the email message to retrieve', 'string') }}"
      },
      "id": "559c795f-51a8-41ac-bbac-d71d998bb9aa",
      "name": "Gmail Get Email Tool",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        -864,
        352
      ],
      "webhookId": "79ff7f7e-b567-418b-ab2e-8c395becb164",
      "credentials": {
        "gmailOAuth2": {
          "id": "QUrAgBERcAYgrBGn",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Send an email reply to a recipient. Requires recipient email, subject, and message body. Only use this after getting explicit user approval.",
        "sendTo": "={{ $fromAI('recipient_email', 'The email address to send the reply to', 'string') }}",
        "subject": "={{ $fromAI('subject', 'The subject line for the reply email', 'string') }}",
        "emailType": "text",
        "message": "={{ $fromAI('message_body', 'The body content of the reply email', 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "fbdd0c8d-f043-4ffb-a020-8a4c4379cbb1",
      "name": "Gmail Send Reply Tool",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        -720,
        352
      ],
      "webhookId": "4e5cb684-70da-477e-ac55-93355b9d0e93",
      "credentials": {
        "gmailOAuth2": {
          "id": "QUrAgBERcAYgrBGn",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "# 🧠 Autonomous Email Agent Architecture\n\n**System Overview:**\nThis workflow implements a state-of-the-art **Agentic Architecture** utilizing the **ReAct (Reason + Act)** pattern. It acts as the orchestration engine for the client-side Python CLI.\n\n**Core Logic Flow:**\n1. **👂 Ingestion:** Captures user intent via Webhook (`Chat Trigger`).\n2. **🤔 Reasoning:** The **LangChain Agent** analyzes the request context to dynamically determine the optimal tool execution path.\n3. **🛠️ Tool Orchestration:**\n   - `Gmail Search`: Locates threads using keyword/semantic matching.\n   - `Gmail Get`: Retrieves full message content for context-aware drafting.\n   - `Gmail Send`: Executes delivery upon explicit user confirmation.\n4. **💾 Memory:** Persists `Session Context` to enable multi-turn conversations and iterative draft refinements.\n\n**Tech Stack:** `LangChain` • `OpenAI GPT-4o` • `Gmail API` • `n8n`",
        "height": 432,
        "width": 784,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2624,
        32
      ],
      "typeVersion": 1,
      "id": "cf6544be-226a-479c-8f39-d33e46218e1d",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Email Response Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Response Agent": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Email Response Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Email Response Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Search Tool": {
      "ai_tool": [
        [
          {
            "node": "Email Response Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Get Email Tool": {
      "ai_tool": [
        [
          {
            "node": "Email Response Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Send Reply Tool": {
      "ai_tool": [
        [
          {
            "node": "Email Response Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "58aeb9b7ce1f25ad1e1cb976a3ba2971373716268bd6ac17aa27cd32a48828eb"
  }
}